/*
    MILL SHOP COMPANY, 2016
    CREATED BY NIKITA GRECHUKHIN, NIKOLAY KOMAROV AND VAGIK SIMONYAN
*/

#item-page-header-wrapper {
    margin-top: 28px;
    font-size: 0.75em;
}

#item-page-header-wrapper > div {
    display: inline-block;
    margin-right: 7px;
}

.item-page-header {
    font-family: "Cyntho Medium", sans-serif;
}

.item-page-header-divider {
    color: #a0a0a0;
}

.item-presenter {
    margin-top: 34px;
    width: 100%;
}

.item-presenter-wrapper > div {
    display: inline-block;
    vertical-align: top;
}

.item-presenter-image {
    margin-right: 60px;
}

.item-presenter-right-side {
    margin-left: 34px;
}

.item-presenter-name {
    font-family: "Cyntho Bold", sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.item-presenter-color-wrapper {
    margin-bottom: 14px;
    margin-top: 15px;
}

.item-presenter-color-header {
    font-family: "Cyntho Bold", sans-serif;
    margin-right: 43px;
}

.item-presenter-size-container > div {
    display: inline-block;
}

.item-presenter-size-container {
    margin-top: 20px;
}

.item-presenter-size-header {
    margin-bottom: 6px;
    font-family: "Cyntho Bold", sans-serif;
    margin-right: 56px;
}

.item-presenter-size-selection > div,
.item-presenter-color-wrapper > div {
    display: inline-block;
}

.item-presenter-size-selection {
    margin-bottom: 20px;
}

.item-presenter-quantity-container > div {
    display: inline-block;
}

.item-presenter-quantity-header {
    font-family: "Cyntho Bold", sans-serif;
    margin-right: 15px;
    margin-top: 5px;
}

.add-to-bag {
    width: 190px;
    text-transform: uppercase;
    margin-top: 37px;
}

/* Description block */
.item-presenter-description-wrapper {
    margin-top: 28px;
}

.item-presenter-description-header {
    font-size: 0.9em;
}

.item-presenter-description-description {
    margin-top: 20px;
    font-family: "Cyntho Light", sans-serif;
}