/*
    MILL SHOP COMPANY, 2016
    CREATED BY NIKITA GRECHUKHIN, NIKOLAY KOMAROV AND VAGIK SIMONYAN
*/

.page-title-wrapper {
    margin-top: 15px;
}

#contact-form-wrapper > div {
    display: inline-block;
    vertical-align: text-top;
}

.contact-form {
    width: 390px;
    margin-top: 16px;
}

.form-hint, .required-notification {
    font-size: 11px;
}

.contact-form-textbox {
    padding: 8px;
    width: 300px;
}

.contact-form-textarea {
    resize: vertical;
}

/* HTML5 */
.contact-form input:required,
.contact-form textarea:required {
    background: #fff no-repeat 98% center;
}
.contact-form input:required:valid,
.contact-form textarea:required:valid {
    background: #fff no-repeat 98% center;

}
.contact-form input:focus:invalid,
.contact-form textarea:focus:invalid {
    background: #fff no-repeat 98% center;

}

/* Hints */
.form-hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-top: 14px;
    padding: 1px 6px;
    z-index: 999;
    position: absolute;
    display: none;
}

.form-hint::before {
    content: "\25C0";
    color: #d45252;
    position: absolute;
    top: 1px;
    left: -6px;
}

.contact-form input:focus + .form-hint {
    display: inline;
}

.contact-form input:required:valid + .form-hint {
    background: #ec141a;
}

.contact-form input:required:valid + .form-hint::before {
    color: #ec141a;
}

.contact-form-button {
    width: 160px;
}

#contact-us-banner {
    height: 453px;
    width: 318px;
    margin-left: 87px;
    margin-bottom: 40px;
    margin-top: 10px;
}

#contact-us-banner img {
    width: 315px;
}

#contact-us-banner-text {
    text-align: center;
    margin-top: 11px;
    font-family: "Cyntho Light", sans-serif;
    font-size: 1.3em;
}
