/*
    MILL SHOP COMPANY, 2016
    CREATED BY NIKITA GRECHUKHIN, NIKOLAY KOMAROV AND VAGIK SIMONYAN
*/

/* Imports */
@import url("../resources/fonts/fonts.css");
@import "Footer.css";
@import "Menu.css";
@import "elements/items.css";
@import "elements/criteria.css";
@import "elements/simple-button.css";
@import "elements/simple-checkbox.css";
@import "elements/simple-textbox-select.css";

/* Body */
body {
    font-family: "Cyntho Medium", sans-serif;
    text-align: center;
    margin: 0 auto;
}

#wrapping-block {
    max-width: 100%;
    height: 100vh;
}

body > #wrapping-block {
    min-height: 100vh;
    height: auto;
}

#main-block {
    position: relative;
    height: 100%;
    padding-bottom: 100px;
    max-width: 1000px;
    width: 100vw;
    text-align: left;
    margin: 0 auto;
}

.margin-wrapper {
    max-width: 960px;
    width: 100vw;
    margin-left: 20px;
    margin-right: 20px;
}

.error-title {
    font-size: 130px;
    margin-top: 30px;
}

.error-text {
    font-family: "Cyntho Bold", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 30px;
}

.page-title {
    padding-top: 18px;
    padding-bottom: 10px;
    font-family: "Cyntho Bold", sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
}

/* Banners on the main page */
#banners-block {
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#banners-block:after {
    display: block;
    clear: both;
    content: ' ';
}

#main-banner {
    padding-bottom: 5px;
}

#banner-shop-men, #banner-shop-women {
    display: inline-block;
    float: left;
    padding-top: 10px;
}

#banner-shop-women {
    padding-left: 10px;
}

#banner-shop-men {
    padding-right: 10px;
}

