/*
    MILL SHOP COMPANY, 2016
    CREATED BY NIKITA GRECHUKHIN, NIKOLAY KOMAROV AND VAGIK SIMONYAN
*/

/* Imports */
@import url("../resources/fonts/fonts.css");
@import "Footer.css";
@import "Menu.css";

/* Body */
body {
    font-family: "Cyntho Medium", sans-serif;
    text-align: center;
    margin: 0 auto;
}

#wrapping-block {
    max-width: 100%;
    height: 100vh;
}

body > #wrapping-block {
    min-height: 100vh;
    height: auto;
}

#main-block {
    position: relative;
    height: 100%;
    padding-bottom: 100px;
    max-width: 1000px;
    width: 100vw;
    text-align: left;
    margin: 0 auto;
}

.margin-wrapper {
    max-width: 960px;
    width: 100vw;
    margin-left: 20px;
    margin-right: 20px;
}

.error-title {
    font-size: 130px;
    margin-top: 30px;
}

.error-text {
    font-family: "Cyntho Bold", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 30px;
}

.page-title {
    padding-top: 18px;
    padding-bottom: 10px;
    font-family: "Cyntho Bold", sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
}

/* Buttons */
.simple-button {
    width: 90px;
    height: 36px;
    display: flex;
    overflow: hidden;

    margin: 10px 0px;
    padding: 5px 0;

    cursor: pointer;
    user-select: none;
    transition: all 160ms ease-in-out;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;

    color: white;
    background: #152b3c;

    border: 0 none;

    font-family: "Cyntho Bold", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;

    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
}



.simple-button:hover {
    transition: all 160ms ease;
    background-color: #1c4e63;
}

.simple-button:active {
    transition: all 160ms ease;
    background-color: #0c202b;
}

.simple-button:focus {
    outline: 0;
}

/* Textboxes and listboxes */
.simple-textbox, .simple-select {
    color: black;
    margin: 4px 10px 10px 0;
    padding: 2px 6px;
    border: solid 1px #c3c3c3;
    font-family: "Cyntho Light", sans-serif;
    font-size: 12pt;
    line-height: 22px;
    outline: none;
    transition: all 160ms ease;
}

.simple-textbox:hover, .simple-select:hover {
    transition: all 160ms ease;
    border: solid 1px cornflowerblue;
}

.simple-textbox:focus, .simple-select:focus {
    border: solid 1px black;
}

/* Banners on the main page */
#banners-block {
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#banners-block:after {
    display: block;
    clear: both;
    content: ' ';
}

#main-banner {
    padding-bottom: 5px;
}

#banner-shop-men, #banner-shop-women {
    display: inline-block;
    float: left;
    padding-top: 10px;
}

#banner-shop-women {
    padding-left: 10px;
}

#banner-shop-men {
    padding-right: 10px;
}

/* Items */
.results-of-query > div {
    display: inline-block;
}

.item {
    background-color: #cccccc;
    width: 225px;
}

/* Criteria */
#criteria > div {
    display: inline-block;
}

#criteria-color-form, #criteria-size-form {
    margin-right: 20px;
}

#criterion-sizes, #criterion-colors {
    padding-top: 10px;
    height: 80px;
    width: 120px;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    display: block;
}

/* Checkboxes */
.simple-checkbox-wrapper {
    margin-bottom: -18px;
}

.simple-checkbox {
    float: left;
    vertical-align: middle;
    width: 13px;
    height: 13px;
}

.simple-checkbox + label {
    cursor: pointer;
}

.simple-checkbox:not(checked) {
    margin: 0;
    opacity: 0;
    position: absolute;
}

.simple-checkbox:not(checked) + label {
    position: relative;
    padding-left: 23px;
    font-family: "Cyntho Light", sans-serif;
    font-size: 0.9em;
}

.simple-checkbox:not(checked) + label:after,
.simple-checkbox:not(checked) + label:before,
.simple-checkbox:checked + label:after,
.simple-checkbox:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 13px;
    height: 13px;
}

.simple-checkbox:not(checked) + label:after,
.simple-checkbox:not(checked) + label:before {
    background-color: white;
    border: solid 1px #0c202b;
}

.simple-checkbox:checked + label:after,
.simple-checkbox:checked + label:before {
    background-color: #0c202b;
}