/*
    MILL SHOP COMPANY, 2016
    CREATED BY NIKITA GRECHUKHIN, NIKOLAY KOMAROV AND VAGIK SIMONYAN
*/

.search-results-header {
    margin-top: 30px;
    font-family: "Cyntho Bold", sans-serif;
    font-size: 2em;
}